@import 'variables';
@import 'mixins';

#carousel {
    .randomizer {
        display: none;
    }

    .group {
        width: 960px;
        height: 540px;
    }

    .carousel {
        position: relative;
        z-index: 1;
        margin: 0;
        background-image: url('#{$frame}img-10-3.png');
        background-position: center center;
        background-size: contain;
        padding: 0;
        width: 400px;
        height: 540px;

        &.disable {
            pointer-events: none;
        }

        &::before {
            position: absolute;
            top: 100px;
            left: 0;
            z-index: 1;

            background-image: url('#{$sprite}img-10-2.png');
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 750px 440px;

            cursor: pointer;
            width: 375px;
            height: 440px;
            content: '';
            pointer-events: none;
        }

        &:hover {
            &::before {
                background-position: right top;
            }
        }

        div {
            display: block;
            position: absolute;
            top: 0;
            left: 100px;
            transform: translateY(-60px) scale(.6);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 210px;
            height: 210px;

            + div {
                transform: translateY(160px) scale(1);

                + div {
                    transform: translateY(380px) scale(.6);

                    + div {
                        transform: translateY(540px) scale(.6);
                    }
                }
            }

            &.LEAVE,
            &.LEAVE ~ div {
                transition: transform 1s;
            }

            &.LEAVE {
                transform: translateY(-220px) scale(.6);

                + div {
                    transform: translateY(-60px) scale(.6);

                    + div {
                        transform: translateY(160px) scale(1);

                        // scss-lint:disable NestingDepth
                        + div {
                            transform: translateY(380px) scale(.6);

                            s+ div {
                                transform: translateY(540px) scale(.6);
                            }
                        }
                        // scss-lint:enable NestingDepth
                    }
                }
            }


            $types: loops whorl arch doubleloops;

            @for $i from 1 through 4 {
                &[data-message=#{nth($types, $i)}] {
                    background-image: url('#{$image}img-10-#{$i + 3}.png');
                }
            }
        }
    }

    .target {
        position: absolute;
        top: 0;
        right: 30px;
        background-image: url('#{$frame}img-10-8.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 500px;
        height: 160px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(.5);
            transition: opacity 1s, transform 1s;
            opacity: 0;
            max-width: 460px;
            max-height: 100px;
        }

        $classes: loops whorl arch doubleloops whorl doubleloops arch loops;
        $amounts:         2         3        3                     2         2                     3        2         3;

        @for $i from 1 through 8 {
            &.#{nth($classes, $i)}-#{nth($amounts, $i)} {
                img:nth-child(#{$i}) {
                    transform: translateX(-50%) translateY(-50%) scale(1);
                    opacity: 1;
                }
            }
        }
    }

    .score {
        position: absolute;
        top: 205px;
        right: 280px;
        transform: translateX(50%);
        background-image: url('#{$sprite}img-10-9.png');
        background-repeat: no-repeat;
        background-position: -565px;
        background-size: 1075px 250px;
        width: 500px;
        height: 250px;

        span {
            display: none;
        }

        .board {
            display: flex;
            padding: 30px 20px;

            div {
                transition: transform 0s 1s, opacity 1s, background 0s 1s;
                opacity: 0;
                margin: 0 20px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 90px auto;
                width: 200px;
                height: 190px;
            }
        }

        &.reveal-score {
            display: none;
        }
    }

    [class *='2'] + .score {
        background-position: -210px;
        width: 340px;

        .board {
            div {
                transition: transform 1s, opacity 1s;

                &:nth-of-type(1) {
                    transform: translateX(-340%) translateY(-30%) scale(1.5);
                }

                &:nth-of-type(2) {
                    transform: translateX(-478%) translateY(-30%) scale(1.5);
                }

                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }

    [class *='3'] + .score {

        .board {
            div {
                &:nth-of-type(1) {
                    transform: translateX(-260%) translateY(-32%) scale(1.5);
                }

                &:nth-of-type(2) {
                    transform: translateX(-395%) translateY(-32%) scale(1.5);
                }

                &:nth-of-type(3) {
                    transform: translateX(-530%) translateY(-32%) scale(1.5);
                }
            }
        }
    }

    [class *=loops] + .score {

        .board div {
            background-image: url('#{$image}img-10-4.png');
        }
    }

    [class *=whorl] + .score {

        .board div {
            background-image: url('#{$image}img-10-5.png');
        }
    }

    [class *=arch] + .score {

        .board div {
            background-image: url('#{$image}img-10-6.png');
        }
    }

    [class *=doubleloop] + .score {

        .board div {
            background-image: url('#{$image}img-10-7.png');
        }
    }

    @for $i from 1 through 3 {
        .score[data-score='#{$i}'] {
            @for $j from 1 through $i {
                .board div:nth-of-type(#{$j}) {
                    transform: translateX(0%) translateY(0%) scale(1);
                    transition: transform 1s, opacity 1s, background 0s 1s;
                    opacity: 1;
                }
            }
        }
    }

    .reveal {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s, z-index 0s .5s;
        opacity: 0;
        z-index: -1;
        background-color: $transparent-black;
        width: 100%;
        height: 100%;

        &.OPEN {
            transition: opacity .5s;
            opacity: 1;
            z-index: 1;
        }

        > div {
            position: absolute;
            top: 50%;
            left: 130px;
            margin-top: -200px;
            background-image: url('#{$frame}fr-3.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: 700px;
            height: 400px;
        }

        ul {
            position: static;

            li {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                transition: opacity .5s;
                width: 600px;
                text-align: center;
                font-size: 36px;

                p {
                    @include powder;
                    padding: 0 10px;

                    &:nth-of-type(1) {
                        margin: 0 75px;
                        width: 450px;
                    }

                    &:nth-of-type(2) {
                        margin: 0 43px;
                        width: 514px;
                    }

                    &:nth-of-type(3) {
                        margin: 0 75px;
                        width: 450px;
                    }
                }

                &.SELECTED {
                    opacity: 1;
                }
            }

            img {
                width: 620px;
            }
        }

        button {
            position: absolute;
            top: 35px;
            right: 35px;
        }
    }

    &.OPEN {
        .reveal {
            li {
                p {
                    &:nth-of-type(1) {
                        animation: type 1.25s steps(22, end);
                    }

                    &:nth-of-type(2) {
                        animation: type2 2.5s steps(25, end);
                    }

                    &:nth-of-type(3) {
                        animation: type3 3.75s steps(22, end);
                    }
                }
            }
        }
    }
}
