@import 'variables';

$types: arch loops whorl doubleloop;

#identify {
    > div {
        white-space: normal;
    }

    .header {
        position: relative;
        margin: 0 auto;
        background-image: url('#{$frame}img-9-1.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 900px;
        height: 160px;

        img {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(.5);
            transition: opacity 1s, transform 1s;
            opacity: 0;
            max-width: 600px;
            max-height: 170px;

            &.SELECTED {
                transform: translateX(-50%) translateY(-50%) scale(1);
                opacity: 1;
            }
        }
    }

    @for $i from 1 through 4 {
        .#{nth($types, $i)} .header img.#{nth($types, $i)} {
            transform: translateX(-50%) translateY(-50%) scale(1);
            opacity: 1;
        }
    }

    .selectable {
        margin: 40px auto;
        width: 800px;

        li {
            background-position: -25px;
            background-size: 1000px 250px;
            cursor: pointer;

            &:hover {
                background-position: -275px;
            }

            &.SELECTED {
                background-position: -525px;
            }

            &.HIGHLIGHTED {
                background-position: -775px;
            }

            $bkg: 8 6 7 9;

            @for $i from 1 through 4 {
                &[data-ref=#{nth($types, $i)}] {
                    background-image: url('#{$sprite}img-9-#{nth($bkg, $i)}.png');
                }
            }
        }
    }

    &.PLAYING,
    .selectable-component.COMPLETE {
        .items {
            pointer-events: none;
        }
    }
}
